# managed by 'eankeen/globe'; don't edit!

# normalize
* text=auto eol=lf

# github's linguist language
*.ts.ejs linguist-language=TypeScript
*.tsx.ejs linguist-language=TypeScript
*.js.ejs linguist-language=JavaScript
*.java.ejs linguist-language=Java
*.css.ejs linguist-language=CSS
*.scss.ejs linguist-language=SCSS
*.yaml.ejs linguist-language=YAML
*.yml.ejs linguist-language=YAML
*.json.ejs linguist-language=JSON
*.xml.ejs linguist-language=XML
